.stage {
  margin:0 auto;
  background:#bbada0;
  margin-top:50px;
  border-radius: 6px
}
.tile {
  background: #c7bbaf;
  position: absolute;
  display: inline-block;
  border-radius: 4px;
  font-size:30px;
  color:#fff;
  text-align: center;
  line-height: 90px;
}
